---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import films from '../components/filmprojects.json';
import {Swiper, SwiperSlide} from 'swiper/react'
import React from 'react';
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';
import SwiperCarousel from '../components/FilmImages.jsx';

// import required modules
import { Navigation, Pagination } from 'swiper/modules';
import type { loadRenderers } from 'astro:container';

export async function getStaticPaths() {
  return films.map((film) => ({
    params: { slug: film.slug },
    props: { film },
  }));
}

const { film } = Astro.props;
---
<Layout title={film.title} class="bg-[rgba(212,208,208,0.7)]">
  <div class="mx-auto py-4 md:py-8 px-4 md:px-50 pt-[95px] md:pt-[130px] bg-[rgba(189, 186, 186, 0.7)] max-h-screen overflow-y-auto transparent-scrollbar">
    <header class="text-center mb-6 md:mb-12">
      <h1 class="font-bebas text-3xl md:text-5xl lg:text-6xl text-black leading-tight tracking-wide text-left">
        {film.title}
      </h1>
    </header>

    <section class="mb-6 md:mb-12 text-black">
      <p class="font-bebas text-base md:text-lg leading-relaxed text-black" set:html={film.about}>
      </p>
    </section>

    <section class="mb-6 md:mb-12">
      <SwiperCarousel images={film.images} client:load />
    </section>

    <section>
      <h2 class="font-bebas text-2xl md:text-3xl mb-3 md:mb-4 pb-2 text-black">
        Film Info
      </h2>
      <div class="flex flex-col md:flex-row md:justify-between md:gap-12 text-black gap-0">
        <div class="w-full md:w-1/2">
          <ul class="list-disc pl-6 space-y-2 text-base md:text-lg">
            <li><span class="font-semibold">Director:</span> {film.director}</li>
            <li><span class="font-semibold">Producer:</span> {film.producers}</li>
            {film.coproducers ? <li><span class="font-semibold">Co-Producer(s):</span> {film.coproducers}</li> :'' }
            <li><span class="font-semibold">Writer:</span> {film.writer}</li>
             <li><span class="font-semibold">Cast:</span> {film.cast}</li>
             <li><span class="font-semibold">Cinematographer:</span> {film.cinematographer}</li>
              {film.editor ? <li><span class="font-semibold">Editor:</span> {film.editor}</li> :'' }
             <li><span class="font-semibold">Music Director:</span> {film.music}</li>
             {film.artDirector ? <li><span class="font-semibold">Art Director:</span> {film.artDirector}</li> :''}
            {film.associateDirector ? <li><span class="font-semibold">Asst. Director:</span> {film.associateDirector}</li> :''}
            {film.asstCinematographer ? <li><span class="font-semibold">Asst. Cinematographer:</span> {film.asstCinematographer}</li> :''}
            { film.productionAssistant ? <li><span class="font-semibold">Production Assistant:</span> {film.productionAssistant}</li> : '' }
             <li><span class="font-semibold">Dialogue:</span> {film.dialogue}</li>
            {film.lyricist? <li><span class="font-semibold">Lyricist:</span> {film.lyricist}</li> :''}
             { film.cameraUnit ? <li><span class="font-semibold">Camera Unit:</span> {film.cameraUnit}</li> : '' }
             { film.sfx ? <li><span class="font-semibold">SFX:</span> {film.sfx}</li> : '' }
            { film.DI ? <li><span class="font-semibold">DI:</span> {film.DI}</li> : '' }
            { film.soundDesigner ? <li><span class="font-semibold">Sound Design:</span> {film.soundDesigner}</li> : '' }
            { film.soundMixing ? <li><span class="font-semibold">Sound Mixing:</span> {film.soundMixing}</li> : '' }
            { film.syncSound ? <li><span class="font-semibold">Sync Sound:</span> {film.syncSound}</li> : '' }
            { film.syncrecorder ? <li><span class="font-semibold">Sync Dialogue Recorder:</span> {film.syncrecorder}</li> : '' }
            { film.photographer ? <li><span class="font-semibold">Stills Photographer:</span> {film.photographer}</li> : '' }



            { film.costumeDesigner ? <li><span class="font-semibold">Costume Designer:</span> {film.costumeDesigner}</li> : '' }
            { film.makeupHair ? <li><span class="font-semibold">Makeup and Hair:</span> {film.makeupHair}</li> : '' }
            { film.singers ? <li><span class="font-semibold">Singers:</span> {film.singers}</li> : '' }
            { film.studio ? <li><span class="font-semibold">Studio:</span> {film.studio}</li> : '' }
            
    
             
             
          </ul>
        </div>
        <div class="w-full md:w-1/2">
          <ul class="list-disc pl-6 space-y-2 text-base md:text-lg">
           
            { film.productionDesigner ? <li><span class="font-semibold">Production Designer:</span> {film.productionDesigner}</li> : '' }   
            <li><span class="font-semibold">Production Company:</span> {film.productionCompany}</li>
            
            
            { film.releasePartner ? <li><span class="font-semibold">Release Partner:</span> {film.releasePartner}</li> : '' }
            { film.colorist ? <li><span class="font-semibold">Colorist:</span> {film.colorist}</li> : '' }
            
            { film.postproductionManager ? <li><span class="font-semibold">Post Production Manager:</span> {film.postproductionManager}</li> : '' }
            <li><span class="font-semibold">Production Country:</span> {film.productionCountry}</li>
              <li><span class="font-semibold">Genre:</span> {film.genre}</li>
              <li><span class="font-semibold">Length:</span> {film.runningTime}</li>
           
              <li><span class="font-semibold">Festivals & Awards:</span>
                <ul class="list-disc pl-8">
                  {film.festivals.map((festival) => (
                    <li class="pl-2">{festival}</li>
                  ))}
                </ul>
              </li>
              

          </ul>
        </div>
      </div>
    </section>
  { film.filmlink  ?
    <section class="mt-6 md:mt-12">
      <div class="aspect-video w-full max-w-[1280px] mx-auto">
         <iframe 
          class="w-full h-full"
          src={film.filmlink}
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen>
        </iframe>
      </div>
    </section> : ''}
  </div>
</Layout>
<style>
  /* Target the specific container */
  .transparent-scrollbar {
    /* For Firefox */
    scrollbar-width: none;
  }

  /* For WebKit browsers (Chrome, Safari, Edge) */
  .transparent-scrollbar::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
</style>